*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.container{
	
	width:100%;
	background-color:transparent;
	height:80px;
	padding:0 300px;
}
.container img{
	width:209px;
	height:102px;
}


.box1{
	width:100%;	   
	height: 100vh;
	background:url(img.jpg),#0000008a;	
	background-blend-mode: overlay; 
	background-size: cover; 
	background-position:center; 
}
.box2{
	
	width:424px;
	height:702px;
	border-radius:15px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:31px 40px;
	background-color:rgba(0, 0, 0, 0.7);
}
section{
	font-size:35px;
	padding:10px;
	font-family: "Roboto", sans-serif;
	color:white;
	transform:translate(10px);
}
.input{			
	width:100%;
	margin:auto;
	padding:10px;
}
				
				
.input input{
	height:65px;				
	border-radius:4px;
	width:100%;
	font-size:18px;
	background:rgb(23 17 17);
	padding:10px;
	transition:all 0.5s;
	color:white;
	border:none;
}
.input input:hover{
	font-size:17px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btns1{
	width:95%;
	height:43px;
	border-radius:5px;
	background-color:#e50914;
	color:white;
	font-size:15px;
	font-family:"Roboto", sans-serif;
	transform:translate(10px);
	border:none;
	transition:all 0.5s;
}
.btns1:hover{
	background-color:rgb(193, 17, 25);
}
.btns2{
	width:95%;
	height:43px;
	border-radius:5px;
	background-color:#3635349e;
	color:white;
	font-size:15px;
	font-family:"Roboto", sans-serif;
	transform:translate(10px);
	border:none;
	transition:all 0.5s;
}
.btns2:hover{
	background-color:rgba(128, 128, 128, 0.3)
}
.p1{
	transform:translate(165px);
	color:gray;
	font-size:17px;
}
.p2{
	transform:translate(120px);
	color:white;
	font-size:15px;
}
.p2:hover{
	color:gray;
	text-decoration:underline;
	
}
.fa-square-check{
	font-size:20px;
	background-color:white;
}
.fa-square-check:hover{
	
	background-color:gray;
}
.box3{
	
	width:100%;
	height:50px;
}
b{ 
    color:white; 
	font-family:"Roboto", sans-serif;
}
p{
	color:gray; 
	font-family:"Roboto", sans-serif;
	
}
a{
	color:white;
	text-decoration:none;
	
}	
a:hover{
	text-decoration:underline;
	color:#0071eb;
}	
.last{
	font-size:13px;
}
